<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fidelidade.branchio" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BranchIOSampleApp</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <branch-config>
        <branch-key value="key_test_khYkNGEHvPF968kETByqkaakDym8fFUG" />
        <uri-scheme value="branchioapp" />
        <link-domain value="3awzo.test-app.link" />
        <ios-team-release value="PW4Q8885U7" /> <!-- required if iOS app -->
        <ios-team-debug value="FG35JLLMXX" /> <!-- optional -->
        <android-testmode value="true" /> <!-- optional (simulate installs) -->
    </branch-config>
    <preference name="AndroidXEnabled" value="true" />
</widget>
